<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de ciudades</title>
</head>
<body>
<div>
  <h1>Lista de ciudades</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Código Postal</th>
    </tr>
    </thead>
    <tbody>
    <!-- Itera sobre la lista de ciudades y muestra cada una en una fila de la tabla -->
    <tr th:each="ciudades : ${ciudades}">
      <td th:text="${ciudades.idCiudad}"></td>
      <td th:text="${ciudades.nombre}"></td>
      <td th:text="${ciudades.codigoPostal}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
