<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de clientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <h1>Aeropuerto de Sauce Viejo - Clientes</h1>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/"> Inicio</a>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/clientes/nuevo}">Crear cliente</a>
            </li>
        </ul>
    </div>
</nav>
<div >
    <div class="alert alert-success" role="alert" th:if="${msgExito ne null}" >
        <td th:text="${msgExito}">
        </td>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Apellido y Nombre</th>
            <th>Domicilio</th>
            <th>Email por fila</th>
            <th>Fecha de Nacimiento</th>
            <th>Número de Pasaporte</th>
        </tr>
        </thead>
        <tbody>
        <!-- Itera sobre la lista de clientes y muestra cada una en una fila de la tabla -->
        <tr th:each="clientes : ${clientes}">
            <td th:text="${clientes.idCliente}"></td>
            <td th:text="${clientes.apellidoNombre}"></td>
            <td th:text="${clientes.domicilio}"></td>
            <td th:text="${clientes.email}"></td>
            <td th:text="${clientes.fechaNacimiento}"></td>
            <td th:text="${clientes.numeroPasaporte}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
