<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Vuelo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Registro de Vuelo</a>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <a class="nav-link" th:href="@{/}">Inicio</a>
            <a class="nav-link" th:href="@{/vuelos/lista}">Vuelos</a>
        </div>
    </div>
</nav>

<!-- dar formato contenedor -->
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h2 class="text-center">Carga de vuelo</h2>
            <div class="card-body">

                <form th:action="@{''}" th:object="${vuelo}" method="POST">
                    <div>
                        <label>Ciudad Origen</label>
                        <select th:field="${vuelo.ciudadOrigen}" class="form-control">
                            <option th:each="ciudad :${listaDeCiudades}"
                                    th:value="${ciudad.idCiudad}"
                                    th:text="${ciudad.nombre}"/>
                        </select>
                        <br>
                        <label>Ciudad Destino</label>
                        <select th:field="${vuelo.ciudadDestino}" class="form-control">
                            <option th:each="ciudad :${listaDeCiudades}"
                                    th:value="${ciudad.idCiudad}"
                                    th:text="${ciudad.nombre}"/>
                        </select>
                        <br>
                        <label>Avion</label>
                        <select th:field="${vuelo.avion}" class="form-control">
                            <option th:each="avion :${listaDeAviones}"
                                    th:value="${avion.idAvion}"
                                    th:text="${avion.nombre}"/>
                        </select>
                        <br>
                        <label>Tipo de Vuelo:</label>
                        <select th:field="*{tipo}" class="form-control">
                            <option th:each="tipoOpt : ${tiposDeVuelos}"
                                    th:value="${tipoOpt}"
                                    th:text="${tipoOpt}"></option>
                        </select>
                        <br>
                        <label>Precio del Vuelo en ar$:</label>
                        <input type="number" step="1.00" th:field="*{precioVuelo}" class="form-control" min="0" required/>
                        <br>

                        <label>Fecha del vuelo:</label>
                        <input type="date" th:field="*{fecha}" class="form-control" required/>
                        <br>

                        <label>Hora del vuelo:</label>
                        <input type="time" th:field="*{hora}" class="form-control" required/>
                        <br>
                        <label>Estado del Vuelo:</label>
                        <select th:field="*{estado}" class="form-control" name="Estado" th:placeholder="estado">
                            <option th:each="estadoOpt : ${estadosDeVuelos}"
                                    th:value="${estadoOpt}"
                                    th:text="${estadoOpt}"></option>
                        </select>
                        </label>

                        <br>

                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block">Cargar Vuelo</button>

                </form>
            </div>
        </div>
    </div>
</div>

<br>


</body>
</html>